.partners {
    grid-column: center-start / center-end;
    width: 100%;
    margin-top: 5rem;
    
    &__textBox{
        display:flex;
        justify-content: center;
        align-items: center;


        & h4:after {
            margin: 2rem auto;
            content: "";
            background-color: $color-one;
            display: block;
            height: 2px;
            width: 5rem;
            transition: all .2s;
        }

        &:hover h4:after{
            width: 25rem;
            transition: all .2s;
        }

        

    }

    &__imgBox{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: $bp-medium) {
            transform: scale(.7);
        }
        
        &-img{
            margin: 1.5rem 2.5rem;
        }
    }
    
}